* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  background-color: #eaeaea;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1e1e1e;
}

header {
  padding: 16px 0;
  text-align: center;
}

button {
  padding: 0;
  background-color: inherit;

  border: none;
  cursor: pointer;
}
