.container {
  max-width: 600px;
  padding: 16px 5vw;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.section__title {
  text-align: center;
}

.book {
  margin-bottom: 20px;
}
